<!DOCTYPE html>
<html>
  <head>
    <title>DJ Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body ng-app="youtubedj">

    <script src="http://<%= socket_server %>/socket.io/socket.io.js"></script>
    <link href="/lib/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="/lib/ionic/release/js/ionic.bundle.js"></script>

    <script>
        var socket = io.connect('http://<%= socket_server %>/channel'),
        socket_server = '<%= socket_server %>';
          socket.emit('join', {
            room: '<%= room %>'
          });

    </script>
    <script src="/mobile/controllers.js"></script>
    <script src="/mobile/app.js"></script>

    <ion-nav-view></ion-nav-view>

  </body>
</html>